body{
    background-color: #A69F90;
}
.navbar {
    position: relative;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    padding: 3vw 4vw;
}
.nav-home {
    text-decoration: none;
    color: white;
    font-size: 2.25em;
    font-family: 'Almarai', sans-serif;
    text-transform: uppercase;
}

.dropdown-item{
    font-size: 1.5em;
}
.dropdown-item:hover{
    opacity: 60%;
}

small > a > img {
    width: 30px;
    margin-right: 7px;
}
h1, h2, h5 {
    font-family: 'Almarai', sans-serif;
}
h2, h5 {
    text-transform: uppercase;
}
h2 {
    padding: 1em 0;
}

.greeting{
    max-width: 1000px;
}

.story {
    padding-right: 10em ;
    padding-left: 10em ;
    margin-bottom: 2em;
}

.hosts {
    background-color: #EDECE9;
    margin: 0 1em 4em 1em ;
}

.overflow-auto{
    height: 150px;
}

#error-box{
   display: none !important;
}

@media screen and (max-width:722px) {
    .nav-home{
        font-size: 1em;
    }

    .story{
        padding-right: 1em;
        padding-left: 1em;
    }
    .hosts{
        margin: 0 1em 2em 1em ;
    }
}
