@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

html {
    scroll-snap-type: y mandatory;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 200vh;
    font-family: "Montserrat", sans-serif;
    scroll-snap-type: y mandatory;
}

/* MORPH START */
#morph-container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: -5em;
    left: -50vw;
    bottom: 0;

    filter: url(#threshold) blur(0.5px);
}

#text1,
#text2 {
    color:white;
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 10em;

    text-align: center;

    user-select: none;
}
/* MORPH END */

/* SNAP START */
section {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
}
.core  {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    width: 100%;
    left: 0;
}
/* SNAP END */

.cover {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cover-img {
    width: 45%;
    max-width: 500px;
}

.cover:nth-of-type(2) {
    z-index: 4;
}

p{
    font-size: 1.75em;
    padding: 0 20%;
    line-height: 1.5em;
}

h1  {
    font-size: 7em;
}

#platforms {
    margin-bottom: 1.5em;
}
a {
    padding: 0.5em;
}

input{
    all: unset;
    background-color: white;
    padding: 1em;
    border-radius: 30px 0 0 30px;
    text-align: left;
    width: 30%;
    color: black;
}
input:focus{
    box-shadow: 2px 2px 8px black;
}


button {
    all: unset;
    cursor: pointer;
    background-color: black;
    padding: 1em;
    width: 5%;
    border-radius: 0 30px 30px 0;
}

button:hover {
    box-shadow: 2px 2px 8px black;
}


/* Smaller devices (desktops, 992px and down) */
@media screen and (max-width:992px) {
    h1 {
        font-size: 12em;
    }
    p, form {
        font-size: 3em;
    }
    .icon {
        width: 200px;
    }
    input{
        all: unset;
        background-color: white;
        padding: 1em;
        border-radius: 200px;
        text-align: left;
        width: 70%;
        color: black;
    }
    button {
        display: block;
        cursor: pointer;
        background-color: black;
        padding: 0.75em;
        width: 30%;
        border-radius: 200px;
        margin: 1em auto;
    }


}
