body{
    background-color: #807866;
}
.navbar {
    position: relative;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    padding: 3vw 4vw;
}
.nav-home {
    text-decoration: none;
    color: white;
    font-size: 2.25em;
    font-family: 'Almarai', sans-serif;
    text-transform: uppercase;
}

.dropdown-item{
    font-size: 1.5em;
}
.dropdown-item:hover{
    opacity: 60%;
}
footer {
    color: white;
    font-size: 0.75em;
}

.askAQuestion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#wrapper {
    background-image: url("../img/table-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}


h2 {
    font-family: 'Almarai', sans-serif;
    font-size: 1.5em;
    color: white;
    margin-left: auto;
    margin-right: auto
}

#ask-a-question {
    padding: 0;
    border-radius: 10px;
    max-width: 560px;
}

.form-control {
    background-color: rgba(255,255,255,0.85);
    /*background-color: rgba(20,20,20,0.75);*/
    color: white;
    border: none;
    padding: 0.5em 0.85em ;
}

.form-control::placeholder, label{
    font-size: 0.75em;
}


textarea{
    height: 100px;
    max-height: 150px;
}

.hidden {
    display: none;
}

.label{
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    color: black;
    font-size: 0.75em;
    width: auto;
    box-sizing: border-box;
    min-height: 26px;
}


#button-back:hover{
    background-color: lightgrey;
}
.listen{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.links{
    padding: 30px;
    display: flex;
    align-items: end;
}

#apple{
    width: 3em;
    margin-right: 1em;
}
#spotify{
    width: calc(3em - 8px);
}

/*.listen{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    width: 100%;*/
/*    padding: 3vw 4vw;*/
/*    justify-content: space-between;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/

/* Smaller devices (desktops, 992px and down) */
@media screen and (max-width:415px) {
    .askAQuestion {
        height: 300px;
    }

    #wrapper {
        background-position: 80%;
    }
    .listen{
        padding: 1em;
    }

    /*.listen {*/
    /*    flex-direction: column;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    padding: 0;*/
    /*}*/

    #ask-a-question {
        padding: 0;
        width: 100%;
    }
}

@media screen and (max-width:960px) and (min-width: 415px){
    .askAQuestion {
        height: 300px;
    }
    #wrapper {
        background-position: center;
    }

    /*.listen {*/
    /*    flex-direction: column;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    padding: 0;*/
    /*}*/

    #ask-a-question {
        padding: 0;
        width: 80%;
    }
}